name: CI

on: [ pull_request ]

jobs:
  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    permissions:
      # creates a new check with unit test results
      checks: write
      # needs to git diff the repo
      contents: read
      # find the pr for this commit
      issues: read
      # write artifacts and comment on pr related to this
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          fetch-depth: 1
      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # 5.2.0
        with:
          distribution: 'corretto'
          java-version: 17
          cache: 'gradle'
      - name: clean build
        run: ./gradlew clean build --no-daemon --info --stacktrace
      - name: Upload Test Results
        # see ci-test.check.yml for workflow that publishes test results without security issues for forks
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # 6.0.0
        if: ${{ always() }}
        with:
          name: check-ci-results
          path: '**/build/test-results/test/TEST-*.xml'
