name: reviewdog
on: [ pull_request ]
jobs:
  ktlint:
    name: Check Code Quality
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # 5.0.1
        with:
          fetch-depth: 1
      - name: ktlint
        uses: ScaCap/action-ktlint@26c5e9b625966139d9956cbbb6217375480d4e14 # 0.19.0
        with:
          github_token: ${{ secrets.github_token }}
          level: warning
          reporter: github-pr-review
