---
name: Publish Release
on:
  release:
    types:
      - released

jobs:
  publish-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # 6.0.0
        with:
          fetch-depth: 1
      - name: Set up JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # 5.0.0
        with:
          java-version: 17
          distribution: 'corretto'
      - name: Set artifact version
        run: |
          echo "RELEASE_VERSION=$(echo '${{ github.event.release.tag_name }}' | sed -e s/^v//)" >> $GITHUB_ENV
      - name: build publish
        run: ./gradlew clean build publishPlugin -Pgradle.publish.key="${{ secrets.GRADLE_PUBLISH_KEY }}" -Pgradle.publish.secret="${{ secrets.GRADLE_PUBLISH_SECRET }}" --no-daemon --info --stacktrace -Pversion="${{ env.RELEASE_VERSION }}"
        timeout-minutes: 10
